# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Environments
.env
.venv/
venv/

# Node / frontend
node_modules/

# VCS / editor
.git
.gitignore
.vscode/
.idea/

# Cache/output
midi_cache/
.DS_Store
